body{
  font-family: sans-serif;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute; /*Can also be `fixed`*/
       left: 0;
       right: 0;
       top: 0;
       bottom: 0;

}
h1 {
  font-family: sans-serif;
  font-size: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button {
  margin: 10px;
  padding: 8px;
}
a {
  margin: 10px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
